#about-wrapper {
  width: 100%;
  height: 100%;

  background: var(--background);

  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 2rem;

  img {
    width: 100%;
    max-width: 350px;
  }
  h1 {
    color: var(--color);
    padding: 1.5rem 0;
  }
  p {
    color: var(--color-light);
    max-width: 350px;
    text-align: center;
  }
  a {
    color: #2965f1;
  }
}
@media screen and (max-width: 680px) {
  #about-wrapper {
    img {
      width: 100%;
      max-width: 150px;
    }
  }
}
