* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
  font-family: "Baloo 2", cursive;
  -webkit-font-smoothing: antialiased !important;
  list-style: none;
  -webkit-tap-highlight-color: transparent;
}

*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  width: 100%;
  height: 100%;
  overscroll-behavior-y: contain;
  --primary: #993349;
}

body.dark {
  background: #1a1218;
  --background: #1a1218;
  --content: #1f2837;
  --content-hovered: #2f3847;
  --content-lightness: rgb(41, 50, 65);

  --box-shadow: 1px 2px 12px 3px #08080c;
  --box-shadow-light: 1px 2px 5px 2px rgba(8, 8, 12, 0.2);

  --color: #fff;
  --color-light: rgba(255, 255, 255, 0.5);

  --img-gray-on-dark: grayscale(100%);
  --img-transparent-on-dark: 0.3;
}

body.light {
  background: #f1f1f1;
  --background: #f1f1f1;
  --content: #fff;
  --content-hovered: rgb(245, 252, 255);
  --content-lightness: rgb(235, 242, 245);

  --box-shadow: 0 10px 40px -10px rgba(0, 64, 128, 0.2);
  --box-shadow-light: 0 10px 40px -10px rgba(0, 64, 128, 0.2);

  --color: rgba(0, 0, 0, 0.7);
  --color-light: rgba(0, 0, 0, 0.3);

  --img-gray-on-dark: grayscale(0%);
  --img-transparent-on-dark: 1;
}

html,
#root {
  width: 100%;
  height: 100%;
  background: var(--background);
  overscroll-behavior-y: contain;
}

img {
  user-select: none;
  pointer-events: none;
}

*[data-appear] {
  transition: all 0.3s ease-in;
  will-change: opacity, transform;
}

*[data-appear="right"] {
  opacity: 0;
  transform: translateX(20px);
}

*[data-appear="left"] {
  opacity: 0;
  transform: translateX(-20px);
}

*[data-appear="visible"] {
  opacity: 1;
  transform: translateX(0);
}

#toast-wrapper {
  position: fixed;
  bottom: 12px;
  left: 50%;

  background: var(--content);

  will-change: opacity, transform;

  padding: 4px 12px;

  color: var(--color);

  border-radius: 36px;

  transition: all 0.3s ease-in-out;

  animation: toast-animation 1s ease-in-out 0s 1 alternate;
  animation-fill-mode: forwards;

  box-shadow: var(--box-shadow-light);
}

@keyframes toast-animation {
  0% {
    opacity: 0;
    transform: translate(-50%, -12px);
  }
  30% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 12px);
  }
}
